@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
* {
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  min-height: 100vh;
  overflow: auto;
  background: #FFF1E6;
  position: relative;
}

header {
  position: relative;
  z-index: 10;
  text-align: center;
  
}

h2 {
  text-align: center;
}


div.container {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  background: rgba(238, 232, 232, 0.74);
  border: 2px solid #EAE4E9;
  width: 80%;
  margin: 1rem auto; 
  padding: .5em;
  border-radius: .5em;
  z-index: 10;
}

div.container.date-info {
    justify-content: space-between;
}

div.container.list {
  display: block;
}

div.container.asterick {
  display: block;
}

div.label {
  width: 40%;
}

div.current-date, div.last-shot-date, div.valid-test-date {
  text-align: end;
}

/* Covid background Images */
div.covid-background {
  position: relative;
  width: auto;
}
div.covid-container {
  position: absolute;
  width: auto;
}

div.covid-container.lrg {
  background-image: url("../images/coronavirus128px.png");
  background-repeat: no-repeat;
  width: 8rem;
  height: 8rem;
}

div.covid-container.med {
  background-image: url("../images/coronavirus64px.png");
  background-repeat: no-repeat;
  width: 4rem;
  height: 4rem;
}
div.covid-container.small {
  background-image: url("../images/coronavirus32px.png");
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
}

div.covid-container.one {
  top:.5rem;
  left: 1.5rem;
}
div.covid-container.two {
  top: 1rem;
  right: 1.5rem;
}
div.covid-container.three {
  top: 6rem;
  right: 13rem;
}
div.covid-container.four {
  top: 11.5rem;
  left: 14rem;
}
div.covid-container.five {
  top: 27rem;
  right: 15rem;
}
div.covid-container.six {
  bottom: 34rem;
  right: 0rem;
}
div.covid-container.seven {
  bottom: 25rem;
  left: 0rem;
}
div.covid-container.eight {
  bottom: 0rem;
  right: 0rem;
}

/* Footer */
footer {
  text-align: center;
}

@media all and (min-width:940px) {
  div.date-panel-container {
    display: flex;
    width: 87%;
    margin: 1em 1em 1em 5%;
  }
  div.date-info-container {
    min-width: 55%;
  }
  div.tile4 {
    max-width: 40%;
  }
  
}

@media all and (min-width:1280px) {
  main {
    max-width: 69%;
    margin: auto;
  }
}