@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  overflow: auto;
  background: gainsboro;
}

div.container {
  display: flex;
  flex-direction: row;
  background: lightblue;
  border: 3px solid black;
  width: 80%;
  margin: 1em auto; 
  padding: .5em;
  border-radius: .5em;
}

div.container.list {
  display: block;
}

div.container.asterick {
  display: block;
}

div.label {
  background: rgb(117, 134, 68);
  width: 33%;
}

div.current-date, div.last-shot-date, div.valid-test-date {
  background: orange;
 

  text-align: center;
}


header {
  background-color: blueviolet;
  text-align: center;
}

h2 {
  text-align: center;
}

ul {
  background: darkolivegreen;
}

div.covid-container {
  position: absolute;
  
}